<div class="container">
    <% if (flashInfo != "") { %><div class="alert alert-info"><%- flashInfo %></div><% } %>
    <% if (flashError != "") { %><div class="alert alert-danger"><%- flashError %></div><% } %>

    <div class="col-sm-4" style="margin: auto;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body">
            <form action="/signup" id="signupForm" method="POST">
            <input type="hidden" name="referer" value="<%= referer %>" />
            <input type="hidden" name="csrf" value="<%= _csrf %>" />

            <div class="form-group">
                <label for="email" class="control-label">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="(required)" title="We need to know your email address." value="<%- reqEmail %>" required />
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" minlength="6" placeholder="(required, at least 6 characters)" title="A password is required." value="<%- reqPassword %>" required />
            </div>
            <div class="form-group"><button class="btn btn-lg btn-primary btn-block">Sign Up</button></div>

            </form>
        </div>
      </div>
    </div>

</div>

<style>
small {color: #a94442;}
</style>

<script>
    $("#signupForm").validate({
        onfocusout: true,
        focusInvalid: true,
        validClass: "has-success",
        errorClass: "has-error",
        errorElement: "small",
        errorPlacement: function(error, element) {
            // if the input has a prepend or append element, put the validation msg after the parent div
            if(element.parent().hasClass('input-prepend') || element.parent().hasClass('input-append')) {
                error.insertAfter(element.parent());        
            // else just place the validation message immediatly after the input
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function(element, errorClass, validClass) {
            $(element).parent().addClass(errorClass).removeClass(validClass);
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).parent().removeClass(errorClass).addClass(validClass);
        },
        rules: {
            email: {
                remote: "/user/checkemail"
            }
        },

        messages: {
            password: {
              maxlength: 'You need to use a password that is at least six characters long.'
            },
            email: {
                email: "This doesn't appear to be a properly formatted email address.",
                remote: "This email address is already in use."
            }
        },

        submitHandler: function(form) {
            form.submit();
        }
    });
</script>